*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
html{
    font-size: 100px;
}

body{
    font-size: .14rem;
    font-family: sans-serif;
    /*color: #ffffff;*/
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*a:hover {*/
    /*text-decoration: underline;*/
/*}*/

img{
    vertical-align: middle;
}

input{
    outline-style: none;
    border: none;
    background: transparent;
}



